[submodule "SystemEx"]
	path = SystemEx
	url = git@github.com:yatagarasu25/SystemEx.git
[submodule "libgit2sharp"]
	path = libgit2sharp
	url = git@github.com:yatagarasu25/libgit2sharp.git
[submodule "VSIXEx"]
	path = VSIXEx
	url = git@github.com:yatagarasu25/VSIXEx.git
[submodule "VSIXEx.Designer"]
	path = VSIXEx.Designer
	url = git@github.com:yatagarasu25/VSIXEx.Designer.git
[submodule "libgit2sharp.nativebinaries"]
	path = libgit2sharp.nativebinaries
	url = git@github.com:yatagarasu25/libgit2sharp.nativebinaries.git
